.styleswitch#default   { background-color:#03A9F4; }
.styleswitch#green   { background-color:#4CAF50; }

.styleswitch#purple   { background-color:#9C27B0; }
.styleswitch#dpurple { background-color:#673AB7; }

.styleswitch#orange  { background-color:#FF9800; }
.styleswitch#dorange  { background-color:#FF5722; }

.styleswitch#brown { background-color:#795548; }
.styleswitch#teal    { background-color:#009688; }

.styleswitch#pink  { background-color:#E91E63; }
.styleswitch#red  { background-color:#F44336; }

.styleswitch#blugrey  { background-color:#607D8B; }
.styleswitch#amber  { background-color:#FFC107; }




/* Main Style */
.switcher h3 {
    background: #03A9F4;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 auto;
    padding: 8px 0;
    text-align: center;
}

.switcher {
	background: #fff;
	width:255px;
	position:fixed;
	top:80px;
	z-index:9999;
	left:0px;
	border-radius: 0 0 4px 0;
	/*border-right:1px solid #fff;*/
	/*border-bottom:1px solid #fff;*/
	font-family: 'TitilliumText22LMedium', Arial, sans-serif;
	-webkit-box-shadow:  0px 0px 4px 0px rgba(51, 51, 51, 0.4);
	box-shadow:  0px 0px 4px 0px rgba(51, 51, 51, 0.4);
}

.switcher h2 {
    background: none repeat scroll 0 0 #474646;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0px;
    padding: 0 0 0 20px;
    font-weight: bold;
}

.switcher h2 a {
	background: url("icons/switcher.png") no-repeat scroll left center transparent;
	display: block;
	height: 41px;
	position: absolute;
	right: -39px;
	text-indent: -9999px;
	top: 0;
	width: 39px;
	border-radius: 0 4px 4px 0;
}

.switcher .content {
	padding: 0;
	overflow:hidden;
}

.hide {
	display:none; /* first load page enough */
}

/* Layout Box */
.layout-switcher,
.breadcrumbs-switcher {
	margin:0;
	overflow:hidden;
	padding: 10px;
	text-align: center;
}

.layout-switcher a,
.breadcrumbs-switcher a {
	padding: 4px 8px;
	border-radius: 2px;
	color: #424242;
	font-weight: bold;
	border: 1px solid #ddd;
	cursor: pointer;
	display: inline-block;
	margin: 0 5px 0 0;
	text-align: center;
	background: white;
}


.layout-switcher a:hover,
.breadcrumbs-switcher a:hover {
	background: #424242;
	color: #fff;
	border-color: #424242;
}

/* Color Box */
.switcher-box {
	display: inline-block;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.styleswitch {
 	cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 5px;
    width: 45px;
}

/* Background Box */
.bg {
	height:auto;
	overflow:hidden;
	margin-bottom:6px;
}

.pattern {
	width: 21px;
    height: 24px;
	display: block;
	cursor: pointer;
	margin: 0 4px 4px 0;
	float:left;
	box-shadow: 0 0 0 1px #D6D2D2 inset;
}

/*.pattern.selected2 { box-shadow: 0 0 0 2px #474646 inset; }*/

.pattern#crossed { background: url("icons/icons/crossed.png") no-repeat ; }
.pattern#fabric  { background: url("icons/icons/fabric.png") no-repeat ; }
.pattern#linen   { background: url("icons/icons/woods.png") no-repeat ; }
.pattern#wood    { background: url("icons/icons/woods.png") no-repeat ; }
.pattern#diagmonds    { background: url("icons/icons/diagmonds.png") no-repeat ; }
.pattern#triangles    { background: url("icons/icons/triangles.png") no-repeat ; }
.pattern#black_mamba    { background: url("icons/icons/black_mamba.png") no-repeat ; }
.pattern#vichy    { background: url("icons/icons/vichy.png") no-repeat ; }
.pattern#back_pattern    { background: url("icons/icons/back_pattern.png") no-repeat ; }
.pattern#checkered_pattern    { background: url("icons/icons/checkered_pattern.png") no-repeat ; }
.pattern#diamond_upholstery    { background: url("icons/icons/diamond_upholstery.png") no-repeat ; }
.pattern#lyonnette    { background: url("icons/icons/lyonnette.png") no-repeat ; }
.pattern#graphy    { background: url("icons/icons/graphy.png") no-repeat ; }
.pattern#black_thread    { background: url("icons/icons/black_thread.png") no-repeat ; }
.pattern#subtlenet2    { background: url("icons/icons/subtlenet2.png") no-repeat ; }

/* Dark Style */
a.dark-style {
	display:block;
	padding:9px 0 11px 0;
	text-align:center;
	background:#292929;
	color:#fff;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.switcher{
		display:none;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.switcher{
		display:none;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.switcher{
		display:none;
	}
}
